@use '../../consts/scss/colors' as colors;

@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html,
body {
  background-color: colors.$purple__bg;
  color: colors.$dark__primary;
  font-family: 'Quicksand', sans-serif;
}
