$dark__primary: #1f1065;
$red--reveal: #e11d48;
$purple__bg: #ddd6fe;
$btn__bg: #f5f3ff;
$btn__bg--active: #9e8bfa;
$btn__text--active: #ffffff;
$btn__shadow: rgb(194, 181, 253);
$btn__bg--linear-01: rgba(194, 181, 253, 1);
$btn__bg--linear-02: rgba(158, 139, 250, 1);
